.attribution { font-size: 11px; text-align: center; }    
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color:  hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 50px;
}

h1 {
    color: hsl(179, 62%, 43%);
}

h2 {
    color: #f5f5f5;
}

h3 {
    color: hsl(71, 73%, 54%);
}

#title-para {
    background-color:  #f5f5f5;
    color: hsl(218, 22%, 67%);
    padding: 50px;
    text-align: left;
    width: 80%;
}

#subscription {
    background-color: hsl(179, 62%, 43%);
    color: #f5f5f5;
    padding: 50px;
    text-align: left;
    width: 40%;
    display: flexbox;
}

#why-us {
    background-color: hsla(179, 62%, 43%, 90%);
    color: hsl(204, 43%, 93%);
    padding: 50px;
    text-align: left;
    width: 40%;
    display: flexbox;
}


